[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
gunicorn = "*"
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-login = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
